html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-wrapper{
    background: url('../assets/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.inner {
    margin: auto;
    padding-top: 150px;   
}

.inner h1 {
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
}

.inner p {
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.main-wrapper:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(bottom, #b224ef, #7579ff);
    background: -o-linear-gradient(bottom, #b224ef, #7579ff);
    background: -moz-linear-gradient(bottom, #b224ef, #7579ff);
    background: linear-gradient(bottom, #b224ef, #7579ff);
    opacity: 0.8;
}

/* Timer CSS */
.cell{
    display:table;
    margin: 0 auto;
}

.cntSeparator { display: none; }

.cntDigit {
    margin-top: 40px !important;
}

.cntDigit#cnt_2 { 
    margin-left: 30px; 
}

.cntDigit#cnt_4 { 
    margin-left: 30px; 
}

.cntDigit#cnt_6 { 
    margin-left: 30px; 
}

/* Social Icons */

.social-icons {
    text-align: center;
    margin: 40px 0px;
}

.social-icons ul li {
    display: inline-block;
    padding: 0px 20px;
    transition:.8s;
}

.social-icons ul li:hover {
    transform: rotate(360deg);
}

.social-icons ul li i {
    color: #fff;
    font-size: 30px;
}

/* Responsive */

@media screen and (max-width:767px){
    .inner p{
        font-size:23px;
    }
    div#cnt_0 {
    margin-left: 30px;
    }
}

@media screen and (max-width:480px){
    .inner h1 {
    font-size: 40px;
    }
    .inner p{
        font-size:18px;
    }
    div#cnt_0 {
    margin-left: 87px;
    }
    .cntDigit#cnt_4 {
    margin-left: 87px;
    }
}

@media screen and (max-width:412px){
    
    div#cnt_0 {
    margin-left: 50px;
    }
    .cntDigit#cnt_4 {
    margin-left: 50px;
    }
}

@media screen and (max-width:360px){
    .inner p{
        font-size:14px;
    }
    div#cnt_0 {
    margin-left: 30px;
    }
    .cntDigit#cnt_4 {
    margin-left: 30px;
    }
    
}